:root {
    --secondary-orange: #F25C05;
    --dark-orange: #F27405;
    --medium-orange: #F2913D;
    --light-orange: #F2B279;
    --cream: #F2E7DC;
}

* {
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}
/*.title {*/
/*    color: var(--medium-orange);*/
/*}*/
.circle {
    background-color: black;
    border: var(--medium-orange) 2px solid;
    border-radius: 50%;

}
.fa-solid {
    font-size: 4em;
}
.fa-solid:active {
    scale: 1.1;
}
output {
    width: auto;
}
input {
    width: auto;
}
.value {
    width: 2em;
    text-align: right;
}
.equals {
    width: 1em;
}
.equation {
    font-size: 1.25em;
}
.paren {
    font-family: 'Chivo Mono';
    font-weight: lighter;
    font-size: 3em;
    /*height: 3em;*/
}